/tutorial_data/ClinicalTraits.csv
/tutorial_data/FemaleLiver-Data.zip
/tutorial_data/GeneAnnotation.csv
/tutorial_data/LiverFemale3600.csv
/tutorial_data/LiverMale3600.csv
/tutorial_data/MaleLiver-Data.zip

/tutorial_output
